os: osx
osx_image: xcode11

addons:
  homebrew:
    update: true
    packages:
      - bash
      - coreutils
      - findutils
      - jq

stages:
  - xcode-headers-setup
  - build
  - deploy
  - upload
  - push

script: ./travis-build.sh

